

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .password {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 25px;
        color: #f39c12;
        font-family: consolas,courier;
        background-color: #eee;
        display: inline-block;
        padding: 10px;
        //font-weight: 800;
      }

      .page-header {
        margin: 0px 0 30px;
      }
      .form-horizontal .control-label {
        width: 100px;
        text-align: left;
        font-weight: bolder;
      }
      label {
        font-weight: bold;
      }

      .container {
        width: auto;
        max-width: 800px;
      }
      .container .credit {
        margin: 20px 0;
      }